/*************************************************************************************************************************

								basic && common

*************************************************************************************************************************/


body {
	padding-top:0px;
}


#content {
	min-height:800px;
}


[v-cloak] {
    display: none;
}

/*************************************************************************************************************************

								nav && footer

*************************************************************************************************************************/

#nav {
	height: 45px;
}

#nav a {
	color:#FFFFFF;
}

#logo {
	width:100px;
	height:100px;
}

#header {
	background-color: rgb(212, 218, 218);
	font: bold 40px/100% "微软雅黑", "Lucida Grande", "Lucida Sans", Helvetica, Arial, Sans;
	color:rgb(47, 112, 136);
	height:143px;

	height: 143px;
	border:0px;
	margin:0px;
}

#head-images {
	min-width:900px;
}



#footer {
	text-align: center;
}

/*************************************************************************************************************************

								dashboard page

*************************************************************************************************************************/

#pict {
	position: relative;
	left: 210px;
	width:225px;
	height: 300px;
	background-image: url('/match/image/peo.png');
}


/*************************************************************************************************************************

								admin pages

*************************************************************************************************************************/

#score-panel .panel-body div {
	float:left;
}

.destory {
	width:22px;
	height:22px;
	background-image: url('/match/image/destory.png');
	margin-left:40px;
}

#player-list {
	margin-bottom:70px;
}

#unplayer-list {
	color: #A8A8A8;
}
