body {
	background-color: rgb(47, 112, 136);
}

#header {
	position: relative;
	background-color: rgb(212, 218, 218);
	height: 180px;
	width: 80%;
	min-width: 1024px;
	margin: auto;
	overflow: hidden;
	white-space: nowrap;
}

#title {
	position: absolute;
	left: 10px;
	top: 45px;
	max-height: 200px;
	width: 500px;
	font: bold 40px/100% "微软雅黑", "Lucida Grande", "Lucida Sans", Helvetica, Arial, Sans;;
	color:rgb(47, 112, 136);
}

#logo {
	position: absolute;
	left: 620px;
	top: 30px;
}


#nav {
	background-color: rgb(51, 137, 147);
	height: 40px;
	width: 80%;
	margin: auto;
	min-width: 1024px;
}

#content {
	position: relative;
	margin-top: 90px;
	margin-left: 10%;
	margin-right: auto;
	width: 70%;
	min-width: 800px;
	/*color: rgb(51, 137, 147);*/
	color: #FFFFFF;
	font-family: "FangSong_GB2312", sans-serif; 
}

#this-week {
	position: absolute;
	left: 10px;
	top: 10px;
	width:500px;
	color:#33CCFF;
}

#score-board {
	padding-top: 25px;
	padding-left: 10%;
	padding-right: 10%;
	text-align:center;
	position: absolute;
	left: 610px;
	top: 10px;
	width:700px;
	height:500px;
	background-image: url('../image/sky.jpg');
	background-repeat:no-repeat;
}

#score-board th {
	color: #A8A8A8;
}

#score-board tr{
	text-align:left;
}

#score-board .nm{
	width:150px;
}

#score-board .sf{
	width:40px;
}

#score-board .sc{
	width:100px;
	text-align:right;
}


#desc {
	position: absolute;
	left: 610px;
	top: 810px;
	width:500px;
	color: #A8A8A8;
}


#pict {
	position: absolute;
	left: 1010px;
	top: 350px;
	width:225px;
	height: 300px;
	background-image: url('../image/peo.png');
}

.panel {
	position: relative;
	width: 600px;
	height: 25px;
	border-width : 1px;
	color:#33FF99;
}

.label {
	position: absolute;
	left: 0px;
	top:0px;
	width:225px;
	
}
.score {
	position: absolute;
	top: 0px;
	left: 310px;
	
}